html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(242,242,242);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

h2 {
  color: rgb(242,242,242);
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.8em;
}

p {
  color: rgb(242,242,242);
  line-height: 2;
  margin-bottom: 30%;
  margin-top: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

button {
  background-color: rgb(242,242,242);
  border-radius: 20px;
  border: 2px solid rgb(242,242,242);
  width: 70%-2px;
  min-width: 60px;
  height: 40px;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  cursor: pointer;
  transition: color 200ms ease-in-out;
}

img {
  width: 30%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.main {
  margin: 5% auto;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  padding: 5%;
}

.sedan {
  background-color: rgb(226,133,37);
  padding: 15%;
  display: flex;
  flex-direction: column;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  width: 65vw;
}

.sedan button {
  color: rgb(226,133,37);
}

.sedan p {
  color: rgb(252,203,127);
}

.suv {
  background-color: rgb(1,105,114);
  padding: 15%;
  display: flex;
  flex-direction: column;
  width: 65vw;
}

.suv button {
  color: rgb(1,105,114);
}

.suv p {
  color: rgb(139,218,225);
}

.lux {
  background-color: rgb(0,64,63);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  padding: 15%;
  display: flex;
  flex-direction: column;
  width: 65vw;
}

.lux button {
  color: rgb(0,64,63);
}

.lux p {
  color: rgb(183,225,226);
}

button:hover {
  background-color: transparent;
  color: white;
}

@media (min-width: 700px) {
  /* html {
    height: 90%;
    width: 100%;
  } */
  h2 {
    font-size: 2.4em;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  p {
    font-size: 1.4em;
    line-height: 1.5;
  }
  button {
    font-size: 1.4em;
    height: 50px;
    min-height: 50px;
    width: 70%;
    min-width: 130px;
    bottom: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body {
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  .main {
    flex-direction: row;
    justify-content: space-between;
    width: 70vw;
  }
  .sedan {
    border-top-right-radius: 0;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    height: 70vh;
    padding: 5%;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
  }
  .sedan::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
  .suv {
    height: 70vh;
    padding: 5%;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
  }
  .suv::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
  .lux {
    border-bottom-left-radius: 0;
    border-top-right-radius: inherit;
    height: 70vh;
    padding: 5%;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }
  .lux::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
}
